@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  width: 100%;
  height: 100vh;
  margin:0px;
  padding: 0px;
  box-sizing: border-box;
}

div {
  margin: 20px;
}

.stopwatch {
  width: 100%;
  height:100%;
  margin:0px;
  padding: 0px;
  border-top: 7px solid #737e3dff;
  color: black;
  font-family: 'Ubuntu', sans-serif;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
}

.stopwatch__title {
  font-size: 60px;
}

.stopwatch__title--highlited {
  color: #bcce46ff;
}

.stopwatch__image {
  width: 400px;
  height: 200px;
  position: relative;
}

.stopwatch__image--static {
  background-color: white;
  width: 400px;
  height: 200px;
  position: absolute;
  top: 0;
  left:0;
}

.hidden--js {
  display: none;
}

.stopwatch-buttons {
  width: 400px;
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  font-size: 25px;
   
}

.stopwatch-buttons__button {
  background-color: #bcce46ff;
  padding: 10px 40px 10px 40px;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
}

.stopwatch-timer {
  font-size: 75px;
}