@import "~normalize.css";

@import "_variables";
@import "modules/hello.scss";

body {
  // background: #50371c;
  margin:0px;
  padding: 0px;
  border-top: 7px solid #737e3dff;
  color: black;
  font-family: 'Ubuntu', sans-serif;  
  // font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.title {
  // font-weight: normal;
  font-size: 60px;
}

.highlited {
  color: #bcce46ff;
}

.minions {
  width: 400px;
  height: 200px;
  position: relative;
  // visibility: hidden;
}

.minions-static {
  background-color: white;
  width: 400px;
  height: 200px;
  position: absolute;
  top: 0;
  left:0;
  // display: none;
}

.hidden {
  display: none;
}

div {
  margin: 20px;
}

.buttons {
  width: 400px;
  display: flex;
  align-items: space-around;
  justify-content: space-around;
  font-size: 25px;
   
}

button {
  background-color: #bcce46ff;
  padding: 10px;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
}

.timer {
  font-size: 75px;
}